/*Referencia a elemento*/
h1{
    color:#ff6600; /*Esto es un comentario*/
    
}
/*Referencia a Id*/
#ced{
    color: #33b5e5
}
/*Referencia a clase*/
.contenido{
    background-color: #333333;
    padding: 10px;
    border: 3px dotted #eeeeee;
    margin: 20px 10px 10px 10px;
}

/*Agrupar dos elementos*/

p, .contenido{
    margin-left: 18px;
}
 
/*Para toda clase .importante en p*/
p .importante{
    font-size: 1em;
    color: #ff4444;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 10px;

}

/*Para toda clase .white con .contenido  */
.contenido.white{
    color: #ffffff;
    text-align: center;

}
.contenido.blue{
    color: #0000ff;
}

.contenedor{
    width: 300px;
    height: 300px;
    background: #888888;
}

.contenedor div{
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

.contenido2{
    margin:10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: green;
    color: white;
}

.img-parrafo{
    float: left;
}

.boton{
    background: greenyellow;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover{
    background: lightgreen;
    
}

.boton:active{
    background: green;
}